---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostsLists from "@/components/post/PostsList.astro";

const posts = await getCollection("posts");
---

<Layout title="All Posts">
  <main class="flex flex-col gap-8 slide-enter-content">
    <h1 class="text-2xl text-neutral-100 font-sans leading-8">Posts</h1>
    <PostsLists posts={posts} />
  </main>
</Layout>
