---
import type { CollectionEntry } from "astro:content";
import TilCard from "@/components/til/TilCard.astro";

export interface Props {
  tils: CollectionEntry<"tils">[];
}

const { tils } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {tils.map((til) => (<TilCard til={til} />))}
</div>
