.post p {
  @apply leading-7;
}

.post code {
  @apply rounded-md bg-black px-1 py-[2px] text-red-500;
}

.post h1 {
  @apply mt-8 text-4xl font-bold;
}

.post h2 {
  @apply mt-6 text-3xl text-neutral-100 font-bold;
}

.post h3 {
  @apply mt-4 text-xl text-neutral-100 font-bold;
}

.post a {
  @apply text-neutral-100 no-underline;
}

.post strong {
  @apply text-orange-500;
}

.post ul {
  @apply list-disc;
}

.post blockquote {
  @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-red-400 before:content-[''];
}

div[data-rehype-pretty-code-fragment] {
  @apply relative w-full rounded-md;
}

.post
  div[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) {
  @apply pt-7 lg:pt-10;
}

.post div[data-rehype-pretty-code-title] {
  @apply absolute top-0 left-0 w-full rounded-t bg-zinc-900 py-1 px-2 text-sm text-slate-200 lg:px-4 lg:py-2;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply border-none px-0 overflow-x-auto;
}

div[data-rehype-pretty-code-fragment] code {
  @apply flex flex-col;
}

.post > * {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.post > *:nth-child(1) {
  --stagger: 1;
}
.post > *:nth-child(2) {
  --stagger: 2;
}
.post > *:nth-child(3) {
  --stagger: 3;
}
.post > *:nth-child(4) {
  --stagger: 4;
}
.post > *:nth-child(5) {
  --stagger: 5;
}
.post > *:nth-child(6) {
  --stagger: 6;
}
.post > *:nth-child(7) {
  --stagger: 7;
}
.post > *:nth-child(8) {
  --stagger: 8;
}
.post > *:nth-child(9) {
  --stagger: 9;
}
.post > *:nth-child(10) {
  --stagger: 10;
}
.post > *:nth-child(11) {
  --stagger: 11;
}
.post > *:nth-child(12) {
  --stagger: 12;
}
.post > *:nth-child(13) {
  --stagger: 13;
}
.post > *:nth-child(14) {
  --stagger: 14;
}
.post > *:nth-child(15) {
  --stagger: 15;
}
.post > *:nth-child(16) {
  --stagger: 16;
}
.post > *:nth-child(17) {
  --stagger: 17;
}
.post > *:nth-child(18) {
  --stagger: 18;
}
.post > *:nth-child(19) {
  --stagger: 19;
}
.post > *:nth-child(20) {
  --stagger: 20;
}
