---
import CardLayout from './CardLayout.astro';
import Link from '@/components/shared/Link.astro';
---

<CardLayout title="Cover Letter">
  <p class="my1 mx0 text-sm">
    My name is Mahmudul Alam and I'm a software developer. I'm from Bangladesh, living in Dhaka and
    currently working as a Full-time Software Engineer at Tero Labs. You can find me on <Link
      label="Twitter"
      href="https://twitter.com/expelmahmud"
    />
    , or on <Link label="LinkedIn" href="https://www.linkedin.com/in/devmahmud" />
  </p>
</CardLayout>
