---
import CardLayout from './CardLayout.astro';
import resume from '@/data/resume';
---

<CardLayout title="Education">
  {
    resume.educations.map((item) => (
      <div class="space-y-2">
        <h4 class="text-lg font-semibold text-white">{item.institution}</h4>
        <p class="text-slate-300">
          <span class="text-indigo-400 font-medium">{item.period}</span> • {item.fieldOfStudy}
        </p>
      </div>
    ))
  }
</CardLayout>
