---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Not Found</h1>

    <p class="mt-4">Sorry, I don't know what you're looking for.</p>

    <button class="mt-4 px-4 py-2">
      <a href="/" class="underline hover:decoration-secondary-500"
        >Go to <span class="font-bold text-secondary-500">家</span></a
      >
    </button>
  </div>
</Layout>
