---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SeriesList from "@/components/series/SeriesList.astro";

const series = await getCollection("series");
---

<Layout title="All series">
  <section class="flex flex-col gap-8 slide-enter-content">
    <h1 class="text-2xl md:text-3xl text-neutral-100 font-sans leading-8">All Series</h1>
    <SeriesList series={series} />
  </section>
</Layout>
