---
import ButtonLink from "./shared/ButtonLink.astro";

import MdiTwitter from "~icons/mdi/twitter";
import MdiGithub from "~icons/mdi/github";
import MdiLinkedin from "~icons/mdi/linkedin";
import MdiStackoverflow from '~icons/mdi/stackoverflow';
---

<ul role="list" class="flex items-center space-x-3 sm:space-x-6">
  <li>
    <ButtonLink href="https://github.com/devmahmud" class="group" aria-label="Visit my GitHub profile">
      <div class="relative">
        <MdiGithub class="w-6 h-6 text-gray-300 group-hover:text-gray-100 transition-colors duration-300" aria-hidden="true" />
      </div>
      <span class="hidden md:block text-sm font-medium text-gray-300 group-hover:text-gray-100 transition-colors duration-300">Github</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://www.linkedin.com/in/devmahmud" class="group" aria-label="Visit my LinkedIn profile">
      <div class="relative">
        <MdiLinkedin class="w-6 h-6 text-gray-300 group-hover:text-blue-400 transition-colors duration-300" aria-hidden="true" />
      </div>
      <span class="hidden md:block text-sm font-medium text-gray-300 group-hover:text-blue-400 transition-colors duration-300">LinkedIn</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://twitter.com/mahmudul__alam" class="group" aria-label="Visit my Twitter profile">
      <div class="relative">
        <MdiTwitter class="w-6 h-6 text-gray-300 group-hover:text-sky-400 transition-colors duration-300" aria-hidden="true" />
      </div>
      <span class="hidden md:block text-sm font-medium text-gray-300 group-hover:text-sky-400 transition-colors duration-300">Twitter</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://stackoverflow.com/users/10956991/mahmudul-alam" class="group" aria-label="Visit my Stack Overflow profile">
      <div class="relative">
        <MdiStackoverflow class="w-6 h-6 text-gray-300 group-hover:text-orange-400 transition-colors duration-300" aria-hidden="true" />
      </div>
      <span class="hidden md:block text-sm font-medium text-gray-300 group-hover:text-orange-400 transition-colors duration-300">Stackoverflow</span>
    </ButtonLink>
  </li>
</ul>
