---
import ButtonLink from "./shared/ButtonLink.astro";

import MdiTwitter from "~icons/mdi/twitter";
import MdiGithub from "~icons/mdi/github";
import MdiThreads from "~icons/simple-icons/threads";
import MdiLinkedin from "~icons/mdi/linkedin";
---

<ul role="list" class="flex flex-row gap-2">
  <li>
    <ButtonLink href="https://github.com/daniel-boll">
      <MdiGithub />
      <span class="hidden sm:block">Github</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://twitter.com/db_regret">
      <MdiTwitter />
      <span class="hidden sm:block">Twitter</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://www.threads.net/@damnboy_bot">
      <MdiThreads />
      <span class="hidden sm:block">Threads</span>
    </ButtonLink>
  </li>
  <li>
    <ButtonLink href="https://www.linkedin.com/in/daniel-boll/">
      <MdiLinkedin />
      <span class="hidden sm:block">LinkedIn</span>
    </ButtonLink>
  </li>
</ul>
