---
export interface Props {
  emoji: string;
}

const {
  emoji,
} = Astro.props;

---

<div class="px-0 md:px-12">
  <div class={
    "p-4 bg-orange-200 border-orange-500 border-2 border-dashed rounded-lg shadow-md flex items-center space-x-4"
    }>
    <div class="flex-shrink-0">
      <div class="text-2xl">
        {emoji}
      </div>
    </div>
    <div class="text-black font-iosevka">
      <slot />
    </div>
  </div>
</div>
